body {
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", system-ui;
}

a {
  text-decoration: none;
  color: #41fd5b;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.header-items {
  color: #41fd5b;
  display: flex;
  gap: 20px;
  padding-right: 20px;
  z-index: 1000;
}

.logo {
    height: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.headshot {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    overflow: visible;
    position: relative;
    filter: grayscale(100%); /* make the image black and white */
}

.headshot:hover{
  background-color: #41fd5b;
  filter: none
}

.pixelated-header {
    color: #41fd5b;
    font-size: 24px;
    }

.pixelated-text {
color: white;  
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
}

.hidden-element {
/*   display: none; */
  color: white
}

.hidden-element:hover{
  display: block;
}

.name-container{
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* TERMINAL EFFECT CSS */
.typewriter h1 {
  font-size: 80px;
  color: #41fd5b;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter-container {
display: none; /* Hidden initially */
width: fit-content;
align-items: center;
justify-content: center;
width: 100vw;
height: calc(100vh - 70px);
position: relative;
}

.text-container {
  margin: 30px 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 100px 0 100px;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
